:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-screen-color: ;
  --secondary-screen-color: ;
  --card-bg-color: #fff;
  --card-hover-color: #008000;
  --nav-item-bg-color: #000;
  --nav-item-text-color: #fff;
}

#heading {
  column-rule: brown;
}

.filter {
  margin: 1rem;
}
