/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-screen-color: ;
  --secondary-screen-color: ;
  --card-bg-color: #fff;
  --card-hover-color: #008000;
  --nav-item-bg-color: orange;
  --nav-item-text-color: rgb(160, 39, 39);
  --nav-button-color: black;
}

#heading {
  column-rule: brown;
}

.filter {
  margin: 1rem;
} */
@import "tailwindcss";

/* i changed settings.json added  one of theh property for the default json
 "files.associations": {
    "*.css": "tailwindcss"
  }
 */
